<footer class="footer bg-dark py-3 mt-auto">
    <!-- mt-auto cause justify content moves all things, here we are moving just one -->
    <div class="container">
        <span class="text-white">&copy; YelpCamp-2021</span>
    </div>
</footer>